body
{
    margin:0;
    padding:0;

    background-size:cover;
    font-family: sans-serif;

}

.formc{

    min-width:200px ;
}
.loginBox
{
    position:absolute;
    top:50%;
    /*left:45%;*/
    margin-top:90%;
    transform:translate(-50%, -50%);
    /*width:500px;*/
    /*max-height: 600px;
    max-width: 400px;
    *//*height:450px;*/
    padding:80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.7);


}
.log{
    color: white;
}
h2
{
    margin:0;
    padding:0 0 20px;
    color:#fff;
    text-align:left;
}
.loginBox p{
    padding:0;
    margin:0;
    front-weight:bold;
    color:white;
}
.loginBox input
{
    width:100%;
    margin-bottom: 20px;

}
.loginBox input[type="text"],.loginBox input[type="password"]
{
    border:none;
    border-bottom:3px solid white;
    background:transparent;
    outline:none;
    height:40px;
    color:White;
    font-size: 18px;
}
.loginBox input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    color:White;
    font-size:16px;
    background:rgb(255,38,126);
    cursor:pointer;
    border-radius:10px;
}
.loginBox input[type="submit"]:hover
{
    background:#efed40;
    color: #262626;
}
.loginBox a
{
    color:#fff;
    font-size:20px;
    font-weight:bold;
}
::placeholder
{
    color:rgba(255,255,255,0.5);

}
/*.rightbox
{
    position:absolute;
    top:0%;
    right:100%;
    box-sizing:border-box;
    padding: 40px;
    width:300px;
    height:420px;
    background:rgba(0,0,0,0.5);
    background-size:cover;
    background-position: center;

}*/

button.social
{
    margin-bottom:20px;
    width:170px;
    height:36px;
    border:none;
    border-radius:5px;
    color:#fff;
    font-family:sans-serif;
    font-weight:500;
    transition:0.2s ease;
    cursor:pointer;
}
.facebook
{
    background: #32508e;
}

@media only screen and (min-width: 425px) and (max-width: 2400px) {
    body {
        background-image:url("login1.jpg");
    }
    .container {
        margin: 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
    body {

        background-color: #0c5460;

    }
    .container {
        margin: 20px;
    }
    .loginBox {
        left: 50%;
    }
}
