body
{
    margin:0;
    padding:0;


    background-size:cover;
    font-family: sans-serif;
}
.resetBox
{
    position:absolute;
    top:50%;
    left:55%;
    margin-top: 120%;
    transform:translate(-50%, -50%);
    width:350px;
    /*height:450px;*/
    padding:80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
}
h2
{
    margin:0;
    /*padding:0 0 20px;*/
    color:white;
    text-align:left;
}
/*.resetBox p{
    padding:0;
    margin:0;
    front-weight:bold;
    color:white;
}*/
.ResetBox input
{
    width:100%;
    margin-bottom: 10px;
}
.resetBox input[type="text"] ,.resetBox input[type="password"],.resetBox input[type="password"]
{
    border:none;
    border-bottom:3px solid white;
    background:transparent;
    outline:none;
    height:50px;
    color:White;
    font-size: 18px;
}
.resetBox input[type="submit"]
{
    border:none;
    outline:none;
    height:30px;
    color:White;
    font-size:16px;
    background:darkcyan;
    cursor:pointer;
    border-radius:20px;
}
.resetBox input[type="submit"]:hover
{
    background:#efed40;
    color: #262626;
}
resetBox a
{
    color:#fff;
    font-size:20px;
    font-weight:bold;
}
/*::placeholder
{
    color:rgba(255,255,255,0.5);

}*/

/*.rightbox
{
    position:absolute;
    top:0%;
    right:100%;
    box-sizing:border-box;
    padding: 40px;
    width:300px;
    height:420px;
    background:rgba(0,0,0,0.5);
    background-size:cover;
    background-position: center;

}*/
@media only screen and (min-width: 425px) and (max-width: 2400px) {
    body {
        /* background-color:darkcyan;*/
        background-image:url("reset.jpg");
    }
    .container {
        margin: 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
    body {

        background-color: #0c5460;

    }
    .container {
        margin: 20px;
    }
}